* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    padding: 0;
    background: blue;
    font-family: sans-serif;
}

.section__airpressure {
    width: 50vw;
    height: 60vh;
    background: red;
    margin: 0 auto;
    margin-top: 10rem;
    padding: 3rem;
    border-radius: 1rem;
}

.section__airpressureInfo {
    height: 70%;
    width: 100%;
}

.section__airpressureInfoHeader {
    height: 25%;
    width: 100%;
    display: block;
    font-size: 150%;
}

.section__airpressureDesired {
    height: 30%;
    width: 100%;
    display: inline-block;
}

.section__airpressureDesiredInputSection {
    display: block;
}

.section__airpressureDesiredHeader {
    width: 100%;
    font-size: 120%;
    padding-bottom: 1rem;
}

.section__airpressureDesiredInput {
    width: 30%;
    height: 4rem;
}

.section__airpressureDesiredButtonSection {
    padding-top: 2rem;
}

.section__airpressureDesiredButton {
    display: block;
    border: none;
    padding: 2rem 4rem;
    font-size: 2rem;
}

button:hover {
    cursor: pointer;
}