.main{ 
    padding: 2rem;
    justify-content: center;
}
/* index pagina */
.dustCard{
    background-color: #FFF3E6;
    width: 100%;
    height: 70vh;
    box-shadow: 0 0.5rem 2rem black;
    position: relative;
    grid-column: span 12;
    grid-column-gap: 3rem;
    padding: 2rem;
    margin-bottom: 2rem;
    align-content: center;
}
.dustCard__header{
    font-size: 3rem;  
    height: 20%; 
}
.dustCard__heading{
    padding: 1rem;
    background-color: #9FF2F6;
    border-radius: 25px;
    color: #000;
}
.dustCard__level{
    font-size: 2.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    height: 20%;
}
.dustCard__par{
    height: 10%;
    font-size: 1.8rem;
    padding-bottom: 1rem;
}
.buttonSection{
    height: 40%;
    width: 100%;    
    padding-top: 1rem;
    padding-bottom: 1rem;
} 
.dustCard__button, .create-form__button{
    font-size: 1.8rem;
    width: 100%;
    height: 5rem;
    background-color: #3C59B6;
    border: none;
    color: #eeeeee;
    cursor: pointer;
}
/* }grid voor knopjes op de stof kaartsen */
.buttonSection__grid{
    height: 40%;
    width: 100%;    
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}
.buttonSection__grid > .dustCard__button{
    font-size: 1.8rem;
    width: 100%;
    height: 5rem;
    background-color: #3C59B6;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    grid-column: span 5;
}
/* refresh knopje */
.buttonSection__grid >.dustCard__button--refreshButton{
    width: 3rem;
    float: right;
    background-color: transparent;
    margin-top: 0rem;
    grid-column: span 1;
    justify-self: end;
}
.dustCard__button__img{
    width: 3rem;
    float:  right;
}
.dustCard__button--refreshButton{
    width: 3rem;
    float: right;
    background-color: transparent;
    margin-top: 0rem;
}
/* schoonmaak knoppen view */
.clean__header{
    height: 20%;
    font-size: 3rem;
}
.clean__heading{
    padding: 1rem;
}
.clean__buttonSection__create{
    padding-bottom: 1.5rem;
}
.clean__buttonSection__create, .clean__buttonSection__show{
    height: 20%;
}
.clean__buttonSection__text{
    height: 10%;
    padding-bottom: 0.5rem;
}
.cleanButton{
    font-size: 1.8rem;
    width: 100%;
    height: 5rem;
    background-color: #3C59B6;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    grid-column: span 4;
}
/* knoppen hovers */
.dustCard__button:hover, .cleanButton:hover, .create-form__button:hover{
    cursor: pointer;
    background-color: #9ff2f6;
    color: black;
}

/* Showpagina tweaks voor metingen */
.dustCard--show{
    width: 90vw;
    height: 80vh;
    margin: auto;
}
/* schoonmaak form */
.create-form, .cleanCard{
    background-color: #FFF3E6;
    width: 100%;
    height: 70vh;
    box-shadow: 0 0.5rem 2rem black;
    position: relative;
    padding: 2rem;
    margin: auto;
}
.create-form__text{
    font-size: 3rem;
}
.create-form__section{
    margin-top: 2rem;
    font-size: 2rem;
    width: 100%;
}
.create-form__select, .buttonSection{
    display: block;
    margin-top: 1rem;
    width: 100%;
    font-size: 2rem;
    font-weight: 400;
}
/* schoonmaak overzicht show */
.cleanCard{
    height: auto;
    width: 90vw;
}
.cleanCard__header{
    font-size: 1.8rem;
}
.cleanCard__heading{
    padding-bottom: 1rem;
}
.cleanCard__par{
    padding-bottom: 1rem;
}
/* table met horizontale srol */
.cleanCard__table{
    overflow: auto;
}
.cleanTable{
    width: 100%;
}
.cleanTable, .cleanTable__header, .cleanTable__data{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}
/* main grid klasse */
.u-grid-v-12{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-column-gap: 2rem;
}
/* media queries */
@media (min-width: 40.625rem ) {
    .dustCard{
        width: 100%;
        margin: auto;
        margin-top: 2rem;  
        grid-column: span 12;
    }  
    .dustCard--show, .create-form, .cleanCard{
        width: 80vw;
    } 
}
@media (min-width: 50rem ) {
    .dustCard{
        width: 100%;
        margin: auto;
        margin-top: 2rem;      
        grid-column: span 6;       
  
    }   
    .dustCard--show, .create-form, .cleanCard{
        width: 65vw;
        margin: auto;
    }
}
@media (min-width: 75rem ) {
    .dustCard{
        width: 100%;
        margin: auto;
        margin-top: 2rem; 
        grid-column: span 4;       
       
    }
    .dustCard--show, .create-form, .cleanCard{
        width: 50vw;
        margin: auto;
    }
   
}
