:root{
    --background-color: #FCF8EE;
    --primary-color:  #16825D;
    --secondary-color: #d8d3c6;
}

.container{
    font-size: 1.4rem;
    width: 60%;
    height: 100%;
}

.container__list{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows:repeat(20,minmax(0,1fr));
    grid-template-columns:repeat(21,minmax(0,1fr));
    list-style-type: none;
}

.container__list__top{
    width: 100%;
    height: 100%;
    grid-column: 1 / span 21;
    grid-row: 2 / span 1;
    background-color: var(--primary-color);
    color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 2rem;
}

.container__list__hum{
    width: 100%;
    height: 100%;
    grid-column: span 10;
    grid-row: 4 / span 2;
    background-color:  var(--secondary-color);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.container__list__avg{
    width: 100%;
    height: 100%;
    grid-column: 12 / span 10;
    grid-row: 4 / span 2;
    background-color:  var(--secondary-color);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}