*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    box-sizing: inherit;
    font-size: 62.5%;
}

body{
    font-size: 1.8rem;
    padding: 2rem;
    font-family: sans-serif;
}

.information{
    margin: 2rem;
    /* display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem; */
}

.information__h2{
    font-weight: 400;
}