*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    box-sizing: inherit;
    font-size: 62.5%;
}

body{
    font-size: 1.8rem;
    background-color: #eef2f6;
    font-family: sans-serif;
}

/* css voor de temperatuur pagina's */
.temperatuurArticle{
    background-color: #fff3e6;
    width:50vw;
    height: 80vh;
    margin: 0 auto;
    box-shadow: 0 0.5rem 2rem black;
    position: relative;
    margin-top: 2rem;
}

/* Styling van de tekst */
.temperatuurArticle_h1{
    padding: 3rem;
    padding-left: 4rem;
    color: black;
}

.temperatuurArticle_h2{
    padding: 3rem;
    padding-left: 4rem;
    color: black;
}

.temperatuurArticle_p, .temperatuurArticle_p3{
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    color: black;
}

.temperatuurArticle_p3{
    margin-bottom: 2rem;
}

.temperatuurArticle_p_goed{
    margin-bottom: 5rem;
}

/* Styling van de a href buttons */
.temperatuurArticle_button{
    font-size: 100%;
    width: 18rem;
    height: 5rem;
    box-sizing: border-box;
    background-color: #3C59B6;
    border: none;
    color: #eeeeee;
    transition: 0.2s all;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    text-align: center;
}

.temperatuurArticle_button_meting{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}

.temperatuurArticle_button_info{
    width: 35%;
    height: 12%;
    display: flex;
    justify-content: center;
}

/* Refresh icon button */
.temperatuur_button_img{
    width: 3rem;
    float: right;
}

.temperatuur_button--refreshButton{
    border: none;
    width: 3rem;
    float: right;
    background-color: transparent;
    margin-top: 0rem; 
}

/* Button hover styling */
.temperatuurArticle_button:hover{
    cursor: pointer;
    background-color: #9ff2f6;
    color: black;
    
}
/* Styling van de articles met alle adviezen en informatie */
.temperatuurArticle_info{
    background-color: #fff3e6;
    width:45vw;
    height: 60vh;
    margin: 0 auto;
    box-shadow: 0 0.5rem 2rem black;
    position: relative;
    padding: 2rem;
    margin-bottom: 2rem;
    float: left;
    margin-left: 2rem;
}

/* Kleur voor het article met de informatie over een te koude temperatuur */
.temperatuurArticle_koud{
    background-color: #3c59b6;
}

/* Kleur voor het article met de informatie over een te warme temperatuur */
.temperatuurArticle_warm{
    background-color: #ffc95f;
}

@media(max-width: 95rem){
    .temperatuurArticle_h1{
        padding: 2rem;
    }
    
    .temperatuurArticle_h2{
        padding: 1.5rem;
    }

    .temperatuurArticle_p, .temperatuurArticle_p3, .temperatuurArticle_p3, .temperatuurArticle_p_goed{
        padding: 1.5rem;
    }

}

@media(max-width: 88rem){
    .temperatuurArticle_p3{
        margin-bottom: 0rem;
    }

    .temperatuurArticle{
        width:60vw;
        height: 80vh;
    }

    .temperatuurArticle_h1{
        padding: 2rem;
    }
    
    .temperatuurArticle_h2{
        font-size: 130%;
    }

    .temperatuurArticle_p, .temperatuurArticle_p3, .temperatuurArticle_p3, .temperatuurArticle_p_goed{
        padding: 1.5rem;
    }

    .temperatuurArticle_p_goed{
        margin-bottom: 0rem;
    }
}

@media(max-width: 78rem){
    .temperatuurArticle_info{
        width:60vw;
        height: 60vh;
        margin: 0 auto;
        box-shadow: 0 0.5rem 2rem black;
        position: relative;
        float: initial;
        margin-bottom: 2rem;
    }

    .temperatuurArticle_koud{
        background-color: #3c59b6;
    }
    
    .temperatuurArticle_warm{
        background-color: #ffc95f;
    }
}

@media(max-width: 68rem){
    .temperatuurArticle{
        width:75vw;
    }

    .temperatuurArticle_info{
        width:70vw;
    }
}

@media(max-width: 55rem){
    .temperatuurArticle_info{
        width:80vw;
    }

    .temperatuurArticle{
        width:90vw;
        height:85vh;
    }

    .temperatuurArticle_h1{
        padding-bottom: 0rem;
    }

    .temperatuurArticle_h1_info{
        padding: 1rem;
        padding-bottom: 2rem;
        font-size: 150%;
    }
    
    .temperatuurArticle_h2{
        font-size: 125%;
        padding-bottom: 0.5rem;
    }
    
    .temperatuurArticle_p, .temperatuurArticle_p3, .temperatuurArticle_p3, .temperatuurArticle_p_goed{
        font-size: 100%;
    }
}

@media(max-width: 45rem){
    .temperatuurArticle_info{
        width:90vw;
        height: 65vh;
    }

    .temperatuurArticle_h1_info{
        font-size: 120%;
    }
    
    .temperatuurArticle_h2{
        font-size: 110%;
        padding-bottom: 0.5rem;
    }
    
    .temperatuurArticle_p, .temperatuurArticle_p3, .temperatuurArticle_p3, .temperatuurArticle_p_goed{
        font-size: 100%;
    }
}

@media(max-width: 34rem){
    .temperatuurArticle_info{
        height: 75vh;
    }

    .temperatuurArticle{
        width:90vw;
        height: 85vh;
    }

    .temperatuurArticle_h1{
        font-size: 130%;
    }
    
    .temperatuurArticle_h2{
        font-size: 110%;
    }

    .temperatuurArticle_p, .temperatuurArticle_p3, .temperatuurArticle_p3, .temperatuurArticle_p_goed{
        font-size: 90%;
    }

    .temperatuurArticle_button{
        font-size: 90%;
        width: 13rem;
        height: 4rem;
    }

    .temperatuurArticle_button_info{
        width: 45%;
        height: 12%;
    }

}

@media(max-width: 25rem){
    .temperatuur_main{
        padding: 0.5rem;
    }

    .temperatuurArticle{
        width:90vw;
        height: 100vh;
    }

    .temperatuurArticle_h1{
        font-size: 110%;
        padding: 1rem;
    }
    
    .temperatuurArticle_h2{
        font-size: 100%;
        padding: 1rem;
    }

    .temperatuurArticle_p, .temperatuurArticle_p3, .temperatuurArticle_p3, .temperatuurArticle_p_goed{
        padding: 1rem;
    }

    .temperatuurArticle_button{
        font-size: 90%;
        width: 13rem;
        height: 4rem;
    }

    .temperatuurArticle_info{
        height: 90vh;
    }
}

@media(max-width: 20rem){
    .temperatuurArticle_info{
        height: 100vh;
    }
}




    